# 連接埠相關
PORT = 3000

# 資料庫相關
MONGODB_URI = SKIP

# Session密鑰
SESSION_SECRET = "KaohsiungEye"

# FACEBOOK認證策略相關
FACEBOOK_ID = SKIP
FACEBOOK_SECRET = SKIP
FACEBOOK_CALLBACK = "http://localhost:3000/auth/facebook/callback"