<h1 class="mb-1 restaurant-show-title">新增使用者</h1>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 mx-auto">

        {{> message}}
        {{!-- <p class="mb-4">(*為必填欄位)</p> --}}
        <form action="/users/register" method="POST" novalidate>

            <div class="mb-3">
                <label for="name" class="form-label">使用者名稱</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="請輸入使用者名稱..." required>
                
                <div class="invalid-feedback">
                    必要欄位
                </div>

            </div>

            <div class="mb-3">
                <label for="email" class="form-label">電子信箱</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="請輸入電子信箱..." required>

                <div class="invalid-feedback">
                    錯誤的Email格式
                </div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">密碼</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="請輸入密碼..." required>
            
                <div class="invalid-feedback">
                    錯誤的密碼格式
                </div>
            </div>

            <div class="mb-3">
                <label for="confirmPassword" class="form-label">確認密碼</label>
                <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="請再確認密碼..." required>

                <div class="invalid-feedback">
                    錯誤的密碼格式
                </div>    
            </div>        

            <div class="mb-3">
                <button class="btn btn-primary" type="submit" >新增</button>
                <a class="btn btn-secondary" href="/users/login">返回</a>
            </div>
            
        </form>

        </div>
    </div>
</div>

<script>

    // disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch the form we want to apply custom Bootstrap validation styles to
        let form = document.querySelector('form');

        // prevent it from submission
        form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }
            form.classList.add('was-validated')
        }, false)
    })()

</script>